html{
    scroll-behavior: smooth;
}
*{
    margin: 0%;
}
.Main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    gap: 10px;
}
.text1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
@keyframes startBtn {
    0%{top: 20%;}
    100%{top: 0%;}
}
.btn1{
    position: relative;
    width: 150px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    animation-name: startBtn;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.nev-btn{
    display: flex;
    width: 100%;
    justify-content: flex-start ;
    color: red;
}
.btn1:hover{
    background-color: white;
    color: green;
}
.Inner-container{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Test-box{
    width: 40%;
    height: 75%;
    border: 2px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.Qbox{
    display: flex;
    flex-direction: column;
    padding: 15PX;
    border-radius: 10PX;
    width: 70%;
    height: 70%;
}
.S-btn{
    width: 70%;
    height: 8%;
    background-color: blue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
.S-btn:hover{
    background-color: white;
    color: blue;
}
.R-btn{
    width: 40%;
    height: 5%;
    background-color: red;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.R-btn:hover{ 
 background-color: white;
 color: red;
}
label , p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px
}
.scoringBox{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.corect{
    width: 35% ;
    height: 65%;
    background-color: green;
    border-radius: 10px;
}
.wrong{
    width: 35% ;
    height: 65%;
    background-color: red;
    border-radius: 10px;
}
